<div class="container-fluid">
  <div class="row">
    <div class="span10 offset1 content-area" id="content-area">
      <H1 style="margin-bottom: 20px;">About SciRate</H1>

      <P>Scirate is a site designed to bring Web 2.0 to the arXiv. Its main
      features are:
      <UL>
      <LI>Showing which articles are of interest to the community, and to
      researchers like you.</LI>
      <LI>Providing a platform for informal discussions of papers on the
      arXiv.</LI>
      </UL>
      We have many more features planned, so stay tuned!</P>

      <P>The concept, and the original scirate.com website, were originally
      developed by Dave Bacon.  This version was implemented by Kevin
      Zatloukal.  Also participating in the (re)design effort are Steve Flammia,
      Aram Harrow, Jonathan Oppenheim, Chris Queitzsch, Ben Reichardt, Bill
      Rosgen and Christian Schaffner.</P>

      <P>Feedback to [seven-letter-name-of-website].staff@gmail.com.</P>
    </div>
  </div>
</div>
