<div class="container-fluid">
  <div class="row">
    <div class="span10 offset1 content-area" id="content-area">
      <H1 style="margin-bottom: 20px;">Frequently Asked Questions</H1>

      <P>
      <B>Q</B>: <I>What does the &quot;Interesting&quot; button (a.k.a.
      &quot;sciting&quot;) mean?</I><BR>
      <B>A</B>: Sciting means &quot;show me more papers like this&quot;. We use
      this information, for example, in the following cases:
      <UL>
      <LI>When we show you a list of papers, we’ll try to put those similar to
      the ones you scited previously near the top.</LI>
      <LI>If we find papers outside of your lists that we think are very similar
      to these, we may recommend them.</LI>
      <LI>If another user scites similar papers to the ones you scited, then we
      may recommend other papers that they scited to you or that you scited to
      them.</LI>
      </UL>
      </P>

      <P>
      <B>Q</B>: <I>Can’t the number of scites be easily gamed?</I><BR>
      <B>A</B>: Yes, so don’t take it too seriously.  Paradoxically, we hope
      that if people don’t take the numbers too seriously, then this will also
      reduce the incentive to game them.  Also, we will eventually move to more
      personalized recommendations that will make it harder to game the system.
      </P>
    </div>
  </div>
</div>
