<div class="container-fluid">
  <div class="row">
    <div class="span10 offset1 content-area" id="content-area">
      <H1 style="margin-bottom: 20px;">Privacy Policy</H1>

      <P>This page explains our policies on data from users.
      <OL>
        <LI>Which data do we store?</LI>
        <LI>Which data do we make public?</LI>
        <LI>Which data is leaked to third parties?</LI>
      </OL>
      See also a brief FAQ at the end.</P>

      <H2>1. Data we store</H2>
      <P>All data that you input will be stored, although we salt your
      passwords (so they are only recoverable from our records if you use
      something easy to guess).  We also store your usage data, such as the
      timing of clicks.  If you undo an action, such as a scite, there will
      still be a record of these actions in our database.  When you link your
      account to external accounts, such as facebook or google, then we also
      obtain information from these sites (generally warning you at the time).
      We might periodically delete this information, but have no definite plan
      about this right now.  Some of the fine-grained usage data (e.g. what you
      did on your settings page) will be deleted after 30 days.  We may use
      cookies or keep track of IP addresses in order to lump user actions
      together, even for users who have not registered.</P>

      <H2>2. Data we make public</H2>
      <P>The following information will be publically available on our web site:
      <UL>
        <LI>Your username</LI>
	<LI>Information you enter on your profile page (which may be directly
	  typed by you, or imported from an external credential provider, such
          as google or facebook).</LI>
	<LI>Your scites (although we do not publically list articles you have
          scited and then unscited)</LI>
        <LI>Your comments</LI>
      </UL>
      We don’t guarantee strict privacy of your other usage data since it may
      influence the recommendations of other users (e.g. our recommendation
      engine may use the fact that you scrolled past an article and declined to
      scite it).  However, we consider it very unlikely that anyone would be
      able to use these information leaks to definitively reconstruct your
      actions on the site.</P>

      <P>We may also publish aggregate data about usage and recommendations.
      If so, we will be careful to do so in a way that does not compromise the
      privacy of any individual user.</P>

      <H2>3. Data leaked to third parties</H2>

      <P>Our website is currently hosted by heroku.com, and in the future may
      be hosted by other third-party hosting services.  In principle, they
      could read all our traffic, although they have they have
      <A href="http://policy.heroku.com/privacy">their own privacy policy</A>.
      </P>

      <P>When you make use of facebook or google integration, then those
      companies will learn about your actions.</P>

      <H2>FAQ</H2>

      <P>Q: Why do you need our data?<BR>
      A: Mainly for recommendations, but also usage information can help us
      improve user experience in general, or could be used in studies.</P>

      <P><B>Q</B>: Who has access to the developers’ database?<BR>
      <B>A</B>: See the <A href="/about">about page</A> for the current list of
      developers.</P>

      <P><B>Q</B>: Can I have all data related to my account deleted or
      exported?<BR>
      <B>A</B>: Not yet, but if there is popular demand, we can revisit
      this.</P>

      <P><B>Q</B>: What if these policies change?<BR>
      <B>A</B>: Then this page will change.

      <P><B>Q</B>: What if I have a comment or concern?<BR>
      <B>A</B>: Feedback to scirate dot staff at gmail dot com</P>

      <P>Last updated: 2012-09-03</P>
    </div>
  </div>
</div>
